.edit-button {
	border-radius: 0 0 0 0;
}

.delete-button {
	margin-top: 17px
}

.showing-container {
	margin-top: 20px;
	margin-bottom: 20px
}

.finish-editing {
	margin-top: 10px
}

.add-vis {
	margin-top: 5px;
	margin-bottom: 5px
}