<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>gAmPIe</h1>
    <p class="lead">Create your custom schema</p>
  </div>
</header>

<div class="container">
  <div class="form-group">
  		<label>Game Name:</label>
  		<input type="text" class="form-control" placeholder="game name" ng-model="schemaName">
  		{{schemaName}}

  </div>
  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
    	<div ng-repeat="field in numFields" class="form-inline">
      		<input type="text" class="form-control" placeholder="field name" ng-model="numFields[$index].field"> : 
      		<input type="text" class="form-control" placeholder="field type" ng-model="numFields[$index].fieldType">
      	</div>
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="addField()">+</button>
        <button class="btn btn-primary" ng-click="removeField()" ng-hide="numFields.length < 2">-</button>
      </span>
    </p>
  </form>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
    	<div ng-repeat="section
    	 in sections" class="form-inline">
      		<input type="text" class="form-control" placeholder="section name" ng-model="sections[$index].style"> : 
      		<input type="text" class="form-control" placeholder="section type" ng-model="sections[$index].fieldName">
      	</div>
      <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="addSection()">+</button>
        <button class="btn btn-primary" ng-click="removeSection()" ng-hide="sections.length < 2">-</button>
      </span>
    </p>
  </form>
  <button class="btn btn-success" ng-click="createFinalObject()">Submit</button>
</div>

<footer class="footer">
  <div class="container">
      <p>gAmPIe</p>
  </div>
</footer>