<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" style="padding-top: 70px" id="banner">
  <div class="container">
    <h1>Schema Maker</h1>
    <p class="lead">Make your custom schema</p>
  </div>
</header>

<div class="container showing-container">
		<div class="row">
			<div>
				<label class="form-label">Name: </label>
				<div class="col-sm-12"> 
					<input class="form-control col-sm-12" type="text" placeholder="Schema Name" ng-model="schema.name">
				</div>
			</div>

			<label class="form-label">Data Fields: </label>
			<div ng-repeat="field in schema.dataSchema">
				<div class="col-sm-6"> 
					<input class="form-control col-sm-6" type="text" placeholder="Field Name" ng-model="field.field">
				</div>
				<div class="col-sm-6"> 
					<input class="form-control col-sm-6" type="text" placeholder="Field Type" ng-model="field.fieldType">
				</div>
				
			</div>
			<button class="btn btn-success pull-right" ng-click="addDataField()">Add Data Field</button>
			<button ng-show="schema.dataSchema.length > 1" class="btn btn-warning pull-right" ng-click="deleteDataField()">Delete Data Field</button>

			<div>
				<label class="form-label">Visualizations: </label>
				<div ng-repeat="vis in schema.visualizationSchema">
					<label ng-if="vis.visType == 'list'"  class="form-label">{{vis.visType}}: </label>
					<div class="row" ng-if="vis.visType == 'list'" ng-repeat="section in vis.sections">
						<div class="col-sm-6"> 
							<input class="form-control col-sm-6" type="text" placeholder="Section Name" ng-model="section.fieldName">
						</div>
						<div class="col-sm-6"> 
							<input class="form-control col-sm-6" type="text" placeholder="Section Style" ng-model="section.style">
						</div>
						<div class="col-sm-12">
							<button ng-show="$last" class="btn btn-success pull-right finish-editing add-vis" ng-click="addField($parent.$parent.$index)">Add Field</button>
							<button ng-show="$last && $index > 0" class="btn btn-warning pull-right finish-editing add-vis" ng-click="deleteField($parent.$parent.$index)">Remove Field</button>
						</div>

					</div>				

				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-success pull-right finish-editing add-vis" ng-click="addList($index)">Add List</button>
				<button ng-show="numOfLists > 0" class="btn btn-warning pull-right finish-editing add-vis" ng-click="deleteList($index)">Delete List</button>
			</div>
			<div ng-repeat="vis in schema.visualizationSchema">	

				<label ng-if="vis.visType == 'line graph'"  class="form-label">{{vis.visType}}: </label>
				<div ng-if="vis.visType == 'line graph'">
					<div class="col-sm-12">
						<input class="form-control col-sm-6" placeholder="Title" type="text" ng-model="vis.title">
					</div>
					<div class="col-sm-6"> 
						<input class="form-control col-sm-6" placeholder="X-Axis" type="text" ng-model="vis.xAxis">
					</div>
					<div class="col-sm-6"> 
						<input class="form-control col-sm-6" placeholder="X-Axis Label" type="text" ng-model="vis.xAxisLabel">
					</div>
					<div class="col-sm-6"> 
						<input class="form-control col-sm-6" placeholder="Y-Axis" type="text" ng-model="vis.yAxis">
					</div>
					<div class="col-sm-6"> 
						<input class="form-control col-sm-6" placeholder="Y-Axis Label" type="text" ng-model="vis.yAxisLabel">
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-success add-vis pull-right" ng-click="addGraph($index)">Add Graph</button>
				<button ng-show="numOfGraphs" class="btn btn-warning add-vis pull-right" ng-click="deleteGraph($index)">Delete Graph</button>
			</div>

			<!-- <label class="form-label">User Id: </label>
			<input class="form-control" ng-disabled="true" type="text" ng-model="schema.userId">
			<label class="form-label">Schema Id: </label>
			<input class="form-control" ng-disabled="true" type="text" ng-model="schema.schemaId"> -->
			<button class="btn btn-success pull-right finish-editing" ng-click="createFinalObject(schema)">Create</button>
			<div ng-show="successfulCreation" class="alert alert-success col-sm-12" role="alert" ng-click="goToDataGeneration()"><b>You successfully created a Custom Data Schema! Click me to generate some Custom Data!</b></div>
		</div>
	</div>

<div ng-include="'components/footer/footer.html'"></div>