.tButton {
	width:100px;
	height:100px;
	margin: 5px;
	font-size: 40px;
}
.game-list:hover {
	background-color:lightblue;
	text-color:white;
}
.game-title:hover {
	text-decoration:underline;
}
#board {
	min-width: 150%;
	transform:translateX(-16.5%);
}